
    
    #B1
    {
      height: 120%;
      width: 120%;
      margin-left: 80px;
    }
    body{
    margin: 0;
    margin-top: 0px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Poppins", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: black;
    }
    
    
    
    
    
    .wrapper
    {
    background-color: #fff;
    background: transparent;
    height: 455px;
    width: 850px;
    color: #fff;
    margin-left: 50px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    
    
    margin-right: 150px;
    }
    
    .wrapper h1
    {
    
    font-size: 36px;
    text-align: center;
    color: yellow;
    }
    
    .wrapper .input-box
    {
      background: transparent;
      backdrop-filter: blur(3px);
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0;
    }
    
    .input-box input
    {
      width: 98%;
      height: 88%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgba(255, 255, 255, .2);
      border-radius: 40px;
      font-size: 16px;
      color: white;
      padding: 0px 0px 0px 5px
    }
    
    .input-box input::placeholder
    {
      color: white;
    }
    
    .input-box i 
    {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50);
      font-size: 22px;
      margin-top: -15px;
    }
    
    
    .wrapper .remember-forgot
    {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin: -15px 0px 15px;
    }
    
    .remember-forgot label input
    {
      accent-color:white;
      margin-right: 3px;
    }
    
    .remember-forgot a{
      color: white;
      text-decoration: none;
      
    }
    
    .remember-forgot a:hover
    {
      text-decoration: underline;
    
    }
    
    .wrapper .btn
    {
      width: 100%;
      height: 45px;
      background: yellow;
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      cursor: pointer;
      font-size: 16px;
      color: #333;
      font-weight: 600;
    }
    *{
        box-sizing: border-box;
    }
  
    
 
    
    .wrapper .register-link
    {
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
      margin: 20px 0px 15px;
    }
  
    
    .register-link p a 
    {
      color: white;
      text-decoration: none;
      font-weight: 600;
    
    }
    
    .register-link p a:hover
    {
      color: yellow;
      text-decoration: underline;
    }

    .container
    {
      width: 120%;
      height: 100vh;
     
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .background-clip
    {
      position: absolute;
     top: 0;
     bottom: 0;
      z-index: -1;
    }
    
    @media (min-aspect-ratio:16/9)
    {
      .background-clip
      {
       width: 100%;
       height: auto;
      }
    }
    
    @media(max-aspect-ratio:16/9)
    {
      .background-clip
      {
        width: auto;
        height: 100%;
      }
    }
 